.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# ---- Refactor (NestJS + Expo) artefak (belt-and-suspenders) ----
refactor/**/node_modules/
refactor/**/dist/
refactor/api/.env
refactor/api/coverage/
refactor/mobile/.expo/

# ---- Jangan commit ke repo publik: kunci, kredensial & sampah ----
instascan-master/deploy/id_rsa.enc
instascan-master/deploy/id_rsa.pub
application/application.zip
refactor/TEST-USERS.md
refactor/mobile/.env
refactor/mobile/dist-web/
